<template>
<el-container>
    <el-header>
      <el-row :gutter="20">
        <el-col :span="4">
          <div style=" font-size: 60px;">
            <img :src="logo"/>
          </div>
        </el-col>
        <!-- 上方菜单从数据库中获取 -->
        <el-col :span="2" v-for="(item) in topMenu"
              :key="item.name">
          <div style="font-size: 1px;">
            <el-menu
              :label="item.title"
              :ref="item.name"
              mode="horizontal" @select="handleSelect" background-color="#037DF3" text-color="white" active-text-color="white">
              <el-menu-item :index=item.name>{{ item.title }}</el-menu-item>
            </el-menu>
          </div>
        </el-col>
        <el-col :span="2">
          <div style="font-size: 1px;">
            <el-menu mode="horizontal" @select="handleSelect" background-color="#037DF3" text-color="white" active-text-color="white">
              <el-submenu index="2">
                <template slot="title"><el-avatar src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"></el-avatar></template>
                <el-menu-item index="2-1">个人信息</el-menu-item>
                <el-menu-item index="2-2">设置</el-menu-item>
                <el-menu-item index="2-3">反馈</el-menu-item>
                <el-menu-item index="2-4">退出登录</el-menu-item>
              </el-submenu>
          </el-menu>
          </div>
        </el-col>
      </el-row>
    </el-header>

  <el-container>
  <el-aside width="250px">
    <el-menu :default-openeds="[0]">
      <el-menu-item index="0" @click="addTab('主页', 'homepage', 'homepage')">
        <i class="el-icon-s-home"></i>主页
      </el-menu-item>
      <el-submenu index="1">
        <template slot="title"><i class="el-icon-menu"></i>电视剧</template>
          <el-menu-item index="1-1" @click="addTab('海外剧', 'abroadMovie', 'abroadMovie')">海外剧</el-menu-item>
          <el-menu-item index="1-2" @click="addTab('网络剧', 'onlineMovie', 'onlineMovie')">网络剧</el-menu-item>
      </el-submenu>
      <el-submenu index="2">
        <template slot="title"><i class="el-icon-setting"></i>地图</template>
          <el-menu-item index="2-1" @click="addTab('', 'map', 'map')">地图测试</el-menu-item>
      </el-submenu>
    </el-menu>
  </el-aside>
      <el-main style="padding: 10px; background-color: rgb(238, 241, 246)">
          <el-tabs v-model="editableTabsValue" type="card" closable @tab-remove="removeTab" @tab-click="tabClick" style="height: 100%; background-color: white;">
            <el-tab-pane
              v-for="(item) in editableTabs"
              :key="item.name"
              :label="item.title"
              :name="item.name"
            >
              <component v-bind:is="conponetValue"></component>
            </el-tab-pane>
          </el-tabs>
      </el-main>
  </el-container>
</el-container>
</template>

<style>
  .el-container {
    height: 100%;
  }
  .el-header {
    background-color: #037DF3;
    color: #333;
    line-height: 60px;
    text-align: left;
    vertical-align:middle;
    height: 180px;
  }

  .el-aside {
    color: #333;
  }
</style>

<script>
// 批量组件导入
import path from 'path'
const files = require.context('../components', true, /\.vue$/)
const modules = {}
files.keys().forEach((key) => {
  const name = path.basename(key, '.vue')
  /**
   * path.basename获取vue文件名，也可以用正则表达式匹配
   * key.replace(/^\.\/(.*)\.\w+$/, '$1')
   **/
  modules[name] = files(key).default || files(key)
})

export default {
  components: modules,
  data () {
    return {
      isCollapse: false,
      logo: require('../assets/logo.png'),
      home: require('../assets/home.png'),
      editableTabsValue: 'homepage',
      editableTabs: [{
        title: '主页',
        name: 'homepage',
        content: 'homepage'
      }],
      topMenu: [
        {
          title: '电影区',
          name: 'elMenu1'
        }, {
          title: '音乐区',
          name: 'elMenu2'
        }, {
          title: '学习区',
          name: 'elMenu3'
        }, {
          title: '购物区',
          name: 'elMenu4'
        }, {
          title: '图片区',
          name: 'elMenu5'
        }, {
          title: '地图',
          name: 'elMenu6'
        }, {
          title: '操作员中心',
          name: 'elMenu7'
        }, {
          title: '\r',
          name: 'elMenu8'
        }, {
          title: '\r',
          name: 'elMenu9'
        }
      ],
      conponetValue: 'homepage'
    }
  },
  methods: {
    addTab (title, name, targetName) {
      var editableList = this.editableTabs
      var addFlag = true
      for (var key in editableList) {
        if (editableList[key].name === name) {
          addFlag = false
        }
      }
      if (addFlag) {
        this.editableTabs.push({
          title: title,
          name: name,
          content: targetName
        })
      }
      this.conponetValue = targetName // 组件赋值
      this.editableTabsValue = name // 跳转 对应tabs绑定的 v-model 是 tab的 name值属性
    },
    handleOpen (key, keyPath) {
      console.log(key, keyPath)
    },
    handleClose (key, keyPath) {
      console.log(key, keyPath)
    },
    handleSelect (key, keyPath) {
      // 因为需要支持网页左右缩放不变形，故将上方菜单的按钮拆分为不同的区域，而这样操作后就使得无法联动关闭选择的菜单；
      // 因此这里获取所有的菜单，筛选出非当前菜单关闭。
      var arrayList = this.$refs
      console.log(arrayList)
      for (var key1 in arrayList) {
        if (key !== key1) {
          console.log(key)
          arrayList[key1][0].closeMenu(arrayList[key1][0].openedMenus[0])
          arrayList[key1][0].activeIndex = null
        }
      }

      if (key === '2-3') {
        this.addTab('反馈', 'feedback', 'feedback')
      }

      if (key === '2-4') { // 退出登录
        window.sessionStorage.removeItem('token')
        window.open('http://localhost:8080/#/', '_self')
      }
    },
    removeTab (targetName) {
      if (targetName !== 'homepage') {
        let tabs = this.editableTabs
        let activeName = this.editableTabsValue
        if (activeName === targetName) {
          tabs.forEach((tab, index) => {
            if (tab.name === targetName) {
              let nextTab = tabs[index + 1] || tabs[index - 1]
              if (nextTab) {
                activeName = nextTab.name
              }
            }
          })
        }
        this.editableTabsValue = activeName
        this.editableTabs = tabs.filter(tab => tab.name !== targetName)
      }
    },
    tabClick (tab) {
      this.conponetValue = tab.name // 组件赋值
      this.editableTabsValue = tab.name // 跳转 对应tabs绑定的 v-model 是 tab的 name值属性
    }
  }
}
</script>
