<template>
  <div id='building'>
    <div>
      <el-dialog title="欢迎登录" :visible.sync="dialogVisible" width="30%" :modal='false'
        :close-on-click-modal="false" :show-close="false"
        style="text-align: center;font-size: large;padding-top: 3%;">
        <span>
          <el-form ref="form" :model="form" label-width="80px" :rules="loginRules">
            <el-form-item label="用户名" prop="userName">
              <el-input v-model="form.userName" placeholder="请输入用户名"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
              <el-input v-model="form.password" placeholder="请输入密码" show-password @keyup.enter.native="login1" ></el-input>
            </el-form-item>
            <a style="color: red;">{{ this.prompt }}</a>
          </el-form>
        </span>
        <span slot="footer" class="dialog-footer">
          <el-row :gutter="20">
            <el-col :span="10"><div><el-button type="primary" @click="registerPage">注册</el-button></div></el-col>
            <el-col :span="10"><div><el-button type="primary" @click="login1">登录</el-button></div></el-col>
          </el-row>
        </span>
      </el-dialog>
      <el-dialog title="注册用户名" :visible.sync="dialogVisible2" width="30%" :modal='false'
        :close-on-click-modal="false" :show-close="false"
        style="text-align: center;font-size: large;padding-top: 3%;">
        <span>
          <el-form ref="registerForm" :model="registerForm" label-width="80px" :rules="registerRules">
            <el-form-item label="用户名" prop="userName">
              <el-input v-model="registerForm.userName" placeholder="请输入用户名" prop="userName"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="password">
              <el-input v-model="registerForm.password" placeholder="请输入密码" show-password prop="password"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="confirmPassword">
              <el-input v-model="registerForm.confirmPassword" placeholder="请再次输入密码" show-password prop="confirmPassword" @keyup.enter.native="register1"></el-input>
            </el-form-item>
            <a style="color: red;">{{ this.prompt }}</a>
          </el-form>
        </span>
        <span slot="footer" class="dialog-footer">
          <el-row :gutter="20">
            <el-col :span="10"><div><el-button type="primary" @click="backToLoginPage">返回</el-button></div></el-col>
            <el-col :span="10"><div><el-button type="primary" @click="register1">注册</el-button></div></el-col>
          </el-row>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { configJson } from '../request/config.js'

export default {
  data () {
    return {
      dialogVisible: true,
      dialogVisible2: false,
      form: {
        userName: '',
        password: '',
        confirmPassword: ''
      },
      registerForm: {
        userName: '',
        password: '',
        confirmPassword: ''
      },
      prompt: '', // 提示语
      loginRules: {
        userName: [
          {
            required: true,
            validator: (rules, value, callback) => {
              if (!value) {
                return callback(new Error('用户名不能为空'))
              } else if (value.length > 100) {
                return callback(new Error('用户名不能超过100位'))
              }
              return callback()
            },
            trigger: 'blur'
          }
        ],
        password: [
          {
            required: true,
            validator: (rules, value, callback) => {
              if (!value) {
                return callback(new Error('密码不能为空'))
              } else if (value.length > 100) {
                return callback(new Error('密码不能超过100位'))
              }
              return callback()
            },
            trigger: 'blur'
          }
        ]
      },
      registerRules: {
        userName: [
          {
            required: true,
            validator: (rules, value, callback) => {
              if (!value) {
                return callback(new Error('用户名不能为空'))
              } else if (value.length > 100) {
                return callback(new Error('用户名不能超过100位'))
              }
              return callback()
            },
            trigger: 'blur'
          }
        ],
        password: [
          {
            required: true,
            validator: (rules, value, callback) => {
              if (!value) {
                return callback(new Error('密码不能为空'))
              } else if (value.length > 100) {
                return callback(new Error('密码不能超过100位'))
              }
              return callback()
            },
            trigger: 'blur'
          }
        ],
        confirmPassword: [
          {
            required: true,
            validator: (rules, value, callback) => {
              if (!value) {
                return callback(new Error('确认密码不能为空'))
              } else if (value.length > 100) {
                return callback(new Error('确认密码不能超过100位'))
              }
              return callback()
            },
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    login1 () {
      this.$refs.form.validate(valid => {
        if (valid) {
          let _this = this
          axios.post(configJson.baseURL + '/omc/user/login',
            _this.form,
            {
              headers: {
                'Content-Type': 'application/json'
              }
            }).then((res) => {
            if (res) {
              if (res && res.data) {
                if (res.data.errorNo && res.data.errorNo !== null) {
                  _this.prompt = res.data.errorInfo
                } else {
                  // 存储用户token
                  const token = res.data.token
                  window.sessionStorage.setItem('token', token)

                  _this.prompt = '登录成功'
                  _this.$router.push('/frame')
                }
              }
            }
          }).catch(function (error) {
            console.log(error)
          })
        }
      })
    },
    register1 () {
      this.$refs.registerForm.validate(valid => {
        let _this = this
        if (_this.registerForm.confirmPassword !== _this.registerForm.password) {
          _this.prompt = '两次输入的密码不一致'
          return
        }

        axios.post(configJson.baseURL + '/omc/user/register',
          _this.registerForm,
          {
            headers: {
            // 切换content-type, transformRequest里面的方法也要相应的注释掉或不注释掉
              'Content-Type': 'application/json'
            }
          }).then((res) => {
          if (res) {
            if (res && res.data) {
              if (res.data.errorNo && res.data.errorNo !== null) {
                _this.prompt = res.data.errorInfo
              } else {
                _this.prompt = '注册成功'
              }
            }
          }
        }).catch(function (error) {
          console.log(error)
        })
      })
    },
    registerPage () {
      this.dialogVisible = false
      this.dialogVisible2 = true
    },
    backToLoginPage () {
      this.dialogVisible = true
      this.dialogVisible2 = false
    }
  }
}
</script>

<style>
#building{
  background:url("../assets/login.jpg");
  width:100%;
  height:100%;
  position:fixed;
  background-size:100% 100%;
}

.el-dialog{
  background-color: rgba(0,0,0,0);
}

</style>
