<template>
  <div style="padding: 20px">
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
      <el-form-item style="width: 100px">
      </el-form-item>
      <el-form-item label="电影名称">
        <el-input v-model="formInline.movieName" placeholder="电影名称" @keyup.enter.native="queryMovie"></el-input>
      </el-form-item>
      <el-form-item style="width: 100px">
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="queryMovie">查询</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="tableData"
      v-if="tableHeight"
      :height="tableHeight"
      border
      >
      <el-table-column
        prop="movieName"
        label="电影名称"
        width="180">
      </el-table-column>
      <el-table-column
        prop="updateTime"
        label="更新日期"
        width="180">
      </el-table-column>
      <el-table-column
        prop="introduction"
        label="简介">
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="50">
        <template slot-scope="scope">
          <el-button @click="handleClick(scope.row)" type="text" size="small">观看</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      layout="total, sizes, prev, pager, next, jumper"
      style="padding:18px 0px 0px 0px;text-align:right"
      :page-sizes="[5, 10, 20, 50]"
      :page-size="pageInfo.pageSize"
      @size-change="sizeChange"
      @current-change="dataChange"
      :total="total">
    </el-pagination>
  </div>
</template>

<script>
import { getMovieByPage } from '../../api/request.js'

export default {
  data () {
    return {
      formInline: {
        movieName: '',
        movieType: '1' // 1 : 网络剧
      },
      tableData: [],
      tableHeight: '',
      total: 0,
      pageInfo: {
        pageNo: 1,
        pageSize: 5
      }
    }
  },
  methods: {
    queryMovie () {
      let _this = this
      let query = {}
      Object.assign(query, _this.pageInfo, _this.formInline)
      getMovieByPage(query).then((res) => {
        if (res && res.data) {
          let data = JSON.parse(res.data)
          let code = data.errorNo
          if (code === null || code === 0) {
            // 操作成功
            _this.tableData = data.rows ? data.rows : []
            _this.total = data.total ? data.total : 0
          } else {
            // _this.$Message.error(res.data.error_info);
          }
        }
      }).finally(() => {
      })
    },
    handleClick (row) {
      window.open(row.url, '_blank')
    },
    sizeChange (i) {
      this.pageInfo.pageSize = i
      this.queryMovie()
    },
    dataChange (i) {
      this.pageInfo.pageNo = i
      this.queryMovie()
    }
  },
  mounted () {
    // 根据浏览器高度和宽度计算表单宽度和表格高度
    this.tableHeight = document.body.clientHeight - 310
    window.onresize = () => {
      return (() => {
        this.tableHeight = document.body.clientHeight - 310
      })()
    }
  },
  created () {
    // 查询电影
    this.queryMovie()
  }
}
</script>
