<template>
    <div>
        有什么建议或意见？ 填写到下方输入框吧，我们会尽快反馈给开发人员进行修改哦~
        <el-form v-model='feedbackForm'>
            <el-input v-model='feedbackForm.suggestion'></el-input>
            <el-button type='primary' @click='feedbackMethod()'>提交</el-button>
        </el-form>
    </div>
</template>

<script>
import { feedback } from '../api/request.js'

export default {
  data () {
    return {
      feedbackForm: {
        suggestion: '',
        token: ''
      },
      myChart: null
    }
  },
  methods: {
    feedbackMethod () {
      let _this = this
      let query = {}
      this.feedbackForm.token = window.sessionStorage.getItem('token')
      Object.assign(query, _this.feedbackForm)
      feedback(query).then((res) => {
        if (res) {
          if (res.data === true) {
            _this.$Message.success('反馈成功')
          }
        }
      }).finally(() => {
      })
    }
  },
  mounted () {}
}
</script>
