<template>
    <div style="margin:10px">
        <img alt="Hundsun Design" :src="home" />
        <p>Hi，欢迎使用统一控制台</p>
    </div>
</template>

<script>
import axios from 'axios'
import { configJson } from '../request/config'
import { MessageBox } from 'element-ui'

export default {
  data () {
    return {
      home: require('../assets/home.png')
    }
  },
  methods: {
    verify () {
      axios.post(configJson.baseURL + '/omc/user/verify', {
        'token': window.sessionStorage.getItem('token')
      },
      {
        headers: {
          // 切换content-type, transformRequest里面的方法也要相应的注释掉或不注释掉
          'Content-Type': 'application/json'
        }
      }).then((res) => {
        if (res) {
          if (res.data === false) {
            // token校验 失败或超时
            MessageBox.confirm('登录已失效，请重新登录', '提示', {
              confirmButtonText: '确定',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              window.open('http://localhost:8080/#/', '_self')
            }).catch(() => {
            })
          }
        }
      }).catch(function (error) {
        console.log(error)
      })
    }
  },
  mounted () {
    this.verify()
  }
}
</script>
